{% include "header_0.html" %}

<div class="row px-3 py-3">
    <div class="col-md-3">
        <h5 style="margin-bottom:10px">Pick Preferences</h5>

        <form action='/' method="post">

            <div class="form-check my-2">

                <input type="checkbox" class="btn-check" id="btncheck1" name='has_wifi' value=1 autocomplete="off">
                <label class="btn btn-outline-secondary" for="btncheck1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-wifi" viewBox="0 0 16 16">
                        <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049"></path>
                        <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"></path>
                    </svg>
                    Wifi</label>

            </div>


            <div class="form-check my-2">
                <input type="checkbox" class="btn-check" id="btncheck2" name='has_sockets' value=1 autocomplete="off">
                <label class="btn btn-outline-secondary" for="btncheck2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plug-fill" viewBox="0 0 16 16">
                        <path d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.08 2.08 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.92 1.92 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0"/>
                    </svg>
                    Sockets</label>
            </div>
            <div class="form-check my-2">
                <input type="checkbox" class="btn-check" id="btncheck3" value=1 name='has_toilet' autocomplete="off">
                <label class="btn btn-outline-secondary" for="btncheck3">
                    <img width='16' height='16' src='./static/assets/toilet.svg' mr-4>
                    Bathroom</label>
            </div>

            <div class="form-check my-2">
                <input type="checkbox" class="btn-check" id="btncheck4" value=1 name='can_take_calls'
                       autocomplete="off">
                <label class="btn btn-outline-secondary" for="btncheck4">
                    <img width='16' height='16' src='static/assets/phone.svg'>
                    Take Calls</label>
            </div>

            <div class="form-check my-2">
                <!--                <div class="dropdown">-->
                <button class="btn btn-light "
                        type="button"
                        id="multiSelectDropdown"
                >
                    <img width='16' height='16' src='static/assets/seat.svg'>
                    Seats
                </button>
                <ul class="ml-2 mt-3">
                    <!--                        aria-labelledby="multiSelectDropdown">-->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seats" id="r1" value="0-10" checked>
                        <label class="form-check-label" for="r1">
                            0-10
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seats" id="r2" value="10-20" checked>
                        <label class="form-check-label" for="r2">
                            10-20
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seats" id="r3" value="20-30" checked>
                        <label class="form-check-label" for="r3">
                            20-30
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seats" id="r4" value="30-40" checked>
                        <label class="form-check-label" for="r4">
                            30-40
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seats" id="r5" value="40-50" checked>
                        <label class="form-check-label" for="r5">
                            40-50
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seats" id="r6" value="50+" checked>
                        <label class="form-check-label" for="r6">
                            50+
                        </label>
                    </div>

                </ul>
            </div>
            <div class="form-check my-2">
                <div class="range-wrap">
                    <button class="btn btn-light mb-2"
                            type="button"
                    >
                        <img width='18' height='18' src='static/assets/money.svg'>
                        Max. Price (0-$4)
                    </button>
                    <br>
                    <input type="range" class="form-range" name='coffee_price' min="0" max="4" step="0.1"
                           id="customRange2" value="4">
                    <output class="bubble"></output>
                </div>
            </div>
            <div class="form-check mt-3">
                <button
                        class="btn btn-primary text-uppercase"
                        id="submitButton"
                        type="submit"
                >
                    filter
                </button>
            </div>
        </form>

    </div>

    </body>
    </html>
